<div class="box">
   <%= @question %>
   <em>-You</em>
</div>
<br>

<div class="box">
  <strong><%= @answer %></strong>
  <em>-Nazi coach</em>
</div>

<br>

<a><%= link_to "Ask a new question", "/ask"%></a>
