// Place all the styles related to the question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}


.box {
  border: 1px, black;
  background-color: lightgrey;
  color: black;
  padding: 5px;
}

a {
  color: blue;
  &:hover {
    color: black;
  }
  text-decoration: none;
}
